%section.container--header
  .mouth--teeth-top
  .mouth
    .row
      .large-12.columns.medium-12
        %h1.title Paper toys with a <span class="title--emphasize"> bite</span>.
.container--fill
  .mouth__container--teeth-bottom
    .mouth--teeth-bottom

  %section.section--blue.soft--ends 
    .row
      .large-4.columns.large-centered
        .icon--logo__container
          .icon--logo
    .row
      .large-6.columns.medium-6.large-centered.medium-centered
        %p.lead Chomps are a movable toy made from folded paper and a little glue. 
    .row
      .large-3.columns.medium-3.large-centered.medium-centered
        %a.button--white{href: "/Chomp--Black.pdf"} Download Your Chomp
  %section.section--white.soft--ends
    .row
      .large-12.columns
        %h2 Meet the Chomps
    .row
      .large-12.columns
        =image_tag "example--chomp.jpg"
  %section.soft--ends.section--grey
    .row
      .large-12.columns
        %h2.type--white Supplies you'll need:
    .row
      .large-3.columns.medium-3
        .icon__container
          =image_tag "assemble--paper.svg", :class => "icon"
        %h3.type--white.subtitle.center 2 Sheets Cardstock
      .large-3.columns.medium-3
        .icon__container
          =image_tag "assemble--cut.svg", :class => "icon"
        %h3.type--white.subtitle.center Exacto Blade
      .large-3.columns.medium-3
        .icon__container
          =image_tag "assemble--fold.svg", :class => "icon"
        %h3.type--white.subtitle.center Scoring Tool
      .large-3.columns.medium-3
        .icon__container
          =image_tag "assemble--glue.svg", :class => "icon"
        %h3.type--white.subtitle.center Rubber Cement
  %section.section--white.soft--ends-half
    .row
      .large-4.columns
        %h2 Step 1: Download
        %h4 Download the PDF
        %p This contains an overview page, the top of the Chomp, and the bottom of the Chomp. <a href="/Chomp--Black.pdf">Download it here</a>
        %h4 Print out pages
        %p Print the top and bottom onto cardstock. The thicker paper helps with the durability of the toy.
      %hr.hide-for-large
      .large-4.columns
        %h2 Step 2: Cut
        %h4 Cut out the Chomps
        %p Carefully cut around the outside of the Chomp pattern. 
        %h4 Scour all dashed lines
        %p Gently score along the dashed lines. This helps to create crisper folds. A pencap works great for this. You should now be able to fold these easilly.
      %hr.hide-for-large
      .large-4.columns
        %h2 Step 3: Glue
        %h4 Glue tabs A-F
        %p Put glue on Tab A. Glue side A to Tab A. Hold until bond has formed. Repeat for tabs B, C, D, E, and F.
        %h4 Assemble pieces
        %p Take the finished head and slide it into the unglued side of the bottom. Be sure the colors of the teeth match up. 
        %h4 Glue tabs G and H 
        %p Repeat first steps on tabs G and H. This is the trickiest part, as there is little room between the top and the sides.
  %section.soft--ends.section--picture
    .row
      .large-12.columns
        %h3.center.type--white.heading Chomps are a side project of Kristin Lasita.
        %p.lead They’re silly but suprisingly fun.
    .row
      .large-4.medium-4.columns
        %a.button--white{href: "http://www.kristinlasita.com/"} Kristin’s Website
      .large-4.medium-4.columns
        %a.button--white{href: "https://github.com/kclasita/chomps"} Chomps on Github
      .large-4.medium-4.columns 
        %a.button--white{href: "mailto:kclasita@gmail.com"} Say Hi to Kristin
    .row
      .large-4.columns.large-centered
        %p.copyright © Kristin Lasita 2014
