%section.container--header
  .mouth--teeth-top
  .mouth
    .row
      .large-12.columns
        %h1.title Paper toys with a <span class="title--emphasize"> bite</span>.
.container--fill
  .mouth__container--teeth-bottom
    .mouth--teeth-bottom

  %section.section--blue.soft--ends 
    .row
      .large-12.columns
        =image_tag "logo.svg"
    .row
      .large-5.columns.large-centered
        %p.lead Chomps are a movable toy made from folded paper and a little glue. 
        %button Download Template
  %section.section--white.soft--ends
    .row
      .large-12.columns
        %h2 Meet the Chomps
    .row
      .large-12.columns
        =image_tag "example--chomp.jpg"
  %section.soft--ends.section--grey
    .row
      .large-12.columns
        %h2 Supplies you'll need:
    .row
      .large-3.columns
        =image_tag "assemble--paper.svg"
      .large-3.columns
        =image_tag "assemble--cut.svg"
      .large-3.columns
        =image_tag "assemble--fold.svg"
      .large-3.columns
        =image_tag "assemble--glue.svg"
    .row
      .large-3.columns
        %h3 2 Sheets Cardstock
      .large-3.columns
        %h3 Exacto Blade
      .large-3.columns
        %h3 Scouring Tool
      .large-3.columns
        %h3 Rubber Cement
  %section.section--white.soft--ends
    .row
      .large-12.columns
        %h2 Step 1: Download
    .row
      .large-12.columns
        %h4 Download the PDF
        %p This contains an overview page, the top of the Chomp, and the bottom of the Chomp.
        <a href="#">Download it here</a>
    .row
      .large-12.columns
        %h4 Print out pages
        %p Print the top and bottom onto cardstock. The thicker paper helps with the durability of the toy.
    .row
      .large-12.columns
        %h2 Step 2: Cut
    .row
      .large-12.columns
        %h4 Cut out the Chomps
        %p Carefully cut around the outside of the Chomp pattern. 
    .row
      .large-12.columns
        %h4 Scour all dashed lines
        %p Gently scour along the dashed lines. This helps to create crisper folds. Don’t forget the tabs! You should now be able to fold these easilly.
    .row
      .large-12.columns
        %h2 Step 3: Glue
    .row
      .large-12.columns
        %h4 Glue Tabs A,B,C, D, E, and F
        %p Put glue on Tab A. Glue side A to Tab A. Hold until bond has formed. Repeat for B,C, and D on the top of the Chomp, and E and F on the bottom.
    .row
      .large-12.columns
        %h4 Place top into unfinished bottom
        %p Take the finished head and slide it into the unglued side of the bottom. 
    .row
      .large-12.columns
        %h4 Glue Tabs G and H
        %p Repeat first steps. This is the trickiest part, as there is little room between the top and the sides. 
    .row
      .large-12.columns
        %h2 Step 4: Enjoy
  %section.soft--ends.section--picture
    .row
      .large-12.columns
        %h2 Chomps are a project by Kristin Lasita
        %p.lead They’re silly but suprisingly fun.
    .row
      .large-4.columns
        %button Kristin’s Website
      .large-4.columns
        %button Chomps on Github
      .large-4.columns
        %button Say Hi to Kristin
    .row
      .large-4.columns.large-centered
        %p © Kristin Lasita 2014
