@import foundation
//Layout//
::selection
  background: #ccc

::-moz-selection
  background: #ccc

body
  margin: 0
  font-family: 'Open Sans', sans-serif
  color: #2e3c62

.section--blue
  background-color: #2790f2

.section--white
  background-color: #fff

.section--picture
  background: image-url('about__background.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
  height: 450px

.soft--ends
  padding: 5em 0

.soft--ends-half
  padding: 2em 0

a
  width: 100%

// Teeth Section//

.container--header
  position: fixed
  width: 100%
  top: 0
  left: 0
  height: 430px
  margin: 0 auto
  z-index: -9999

.container--fill
  float: left
  width: 100%
  margin: 430px auto 0
  display: block

.mouth--teeth-top
  background: image-url('tooth--top.svg')
  background-color: #2e3c62
  height: 92px
  background-repeat: repeat-x

.mouth
  background-color: #2e3c62
  padding: 8em 0 15em

.mouth--teeth-bottom
  background: image-url('tooth--bottom.svg')
  height: 92px
  background-repeat: repeat-x
  border-bottom: 3px solid #2790f2
  background-position: left -127px top

.mouth__container--teeth-bottom
  background: rgba(54, 25, 25, 0)


// Icon animation //
#Left_Eye
  transform-origin: 10% 50% 0
  -webkit-transform-origin: 10% 50% 0
  animation: blink 2.5s linear infinite
  -webkit-animation: blink 2.5s linear infinite

#Right_Eye
  transform-origin: 5% 40% 0
  -webkit-transform-origin: 5% 40% 0
  animation: blink 2.5s linear infinite
  -webkit-animation: blink 2.5s linear infinite


@keyframes blink
  0%
    transform: scaleY(1)

  46%
    transform: scaleY(1)

  50%
    transform: translateY(4px) scaleY(0.1)

  54%
    transform: scaleY(1)

  100%
    transform: scaleY(1)


@-webkit-keyframes blink
  0%
    -webkit-transform: scaleY(1)

  46%
    -webkit-transform: scaleY(1)

  50%
    -webkit-transform: translateY(4px) scaleY(0.1)

  54%
    -webkit-transform: scaleY(1)

  100%
    -webkit-transform: scaleY(1)

// Images//

.icon--logo__container
  width: 80px
  margin: auto
  margin-bottom: 1em

.image--sample
  display: block
  margin: 3em auto -5em
  width: 40%

.image--supplies
  width: 400px

// Elements //
ul
  list-style: none
  margin-left: 0
  margin-bottom: 2em

li
  font-size: 32px
  font-weight: 300

h4
  font-weight: normal

hr
  border: solid #37e0d4
  border-width: 3px 0 0
  margin: 4em 0 5em

// Type //
.title
  font-size: 3.25em
  color: #fff
  text-align: center
  margin: 0

.title--emphasize
  text-transform: uppercase
  font-weight: bold

.subtitle
  font-size: 1em

.heading
  font-size: 32px
  color: #2790f2
  font-weight: 600
  margin-bottom: 0.5rem

.subheading
  font-size: 32px
  line-height: 1.4em
  font-weight: 300
  margin-bottom: 0.5rem


p.lead
  color: #fff
  text-align: center
  font-size: 32px
  font-weight: lighter
  a
    color: #fff
    text-decoration: underline
    &:hover
      color: #37d1c2

.type--white
  color: #fff

.center
  text-align: center

.copyright
  text-align: center
  color: #bbb
  padding: 2em 0

// Button //
%button
  color: #fff
  background-color: #37d1c2
  font-family: inherit
  text-align: center
  border-radius: 3px
  cursor: pointer
  -webkit-transition: background-color 300ms ease-out
  -moz-transition: background-color 300ms ease-out
  transition: background-color 300ms ease-out
  margin: 0
  position: relative
  text-decoration: none
  border: none
  margin-bottom: 5px
  &:hover
    background-color: #2e3c62
    cursor: pointer
    color: #fff

.button
  @extend %button
  display: inline-block
  font-size: 18px
  font-weight: bold
  box-shadow: 2px 2px 2px 2px #3E88CD
  padding: 1.25em

.button--small
  @extend %button
  font-size: 15px
  font-weight: 600
  border-radius: 3px
  box-shadow: 2px 2px 2px 2px #ddd
  padding: 1em

//MISC//
.about
  background-color: #2e3c62

.about-heading
  color: #fff
  font-size: 18px
  margin-top: 3em
  font-weight: 300
  line-height: 1.4em
  a
    color: white
    text-decoration: underline
    &:hover
      color: #37d1c2

@media only screen and (max-width: 767px)
  .soft--ends
    padding: 2em 0

  .container--fill
    margin: 175px auto 0

  .mouth--teeth-top
    background-size: 70px 30px
    height: 50px

  .mouth
    padding: 0 0 5em

  .mouth--teeth-bottom
    background-size: 70px 30px
    height: 28px
    background-position: left -105px top

  .title
    font-size: 2.25em

  .image--sample
    display: block
    margin: 3em auto -2em
    width: 50%

  p.lead
    text-align: center
    font-size: 24px

  .button
    padding: 1em

  .button--small
    display: inline-block
    margin-bottom: 2.75em

  .heading, .subheading, li
    font-size: 24px

  .section--picture
    height: 200px

  ul
    margin-bottom: 0.75rem

  hr
    margin: 1em 0 2em

  .about-heading
    font-size: 1em
    margin-top: 1em

  .copyright
    font-size: 0.8em
    padding: 0.5em 0
