@import foundation
//Layout//
body
  margin: 0
  font-family: 'Open Sans', sans-serif
.section--blue
  background-color: #3da1e0
.section--grey
  background-color: #333
.section--white
  background-color: #fff
.section--picture
  background: image-url('about__background.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
.soft--ends
  padding: 5em 0
.soft--ends-half
  padding: 2em 0

a
  width: 100%

// Teeth Section//

.container--header
  position: fixed
  width: 100%
  top: 0
  left: 0
  height: 430px
  margin: 0 auto
  z-index: -9999

.container--fill
  float: left
  width: 100%
  margin: 430px auto 0
  display: block
  // padding-top: 100px
.mouth--teeth-top
  background: image-url('tooth--top.svg')
  background-color: #333
  height: 92px
  background-repeat: repeat-x
.mouth
  background-color: #333
  padding: 8em 0 15em
.mouth--teeth-bottom
  background: image-url('tooth--bottom.svg')
  height: 92px
  background-repeat: repeat-x
  border-bottom: 1px solid #3da1e0
  background-position: left -127px top
.mouth__container--teeth-bottom
  background: rgba(54, 25, 25, 0)

// Images//
.icon__container
  display: inline-block
  text-align: center
  margin-bottom: 1em
  width: 100%
  margin: auto 0
.icon
  width: 80px
  height: 80px
  background-color: darken(#3da1e0, 20)
  border-radius: 50%
  margin: 1em 0
  &:hover
    background-color: darken(#3da1e0, 10) 
// Type //
h2
  font-size: 2em
  color: #3da1e0
  font-weight: normal
h4
  font-weight: normal
.title
  font-size: 3.25em
  color: #fff
  text-align: center
  margin: 0
.title--emphasize
  text-transform: uppercase
  font-weight: bold
.subtitle
  font-size: 1em
.heading
  font-weight: bold
  font-size: 1.5em
p.lead
  color: #fff
  text-align: center
  font-size: 1.5em
  font-weight: lighter
.type--white
  color: #fff
.center
  text-align: center

.copyright
  text-align: center
  color: #bbb
  padding: 2em 0
// Button //
.button--white
  color: #666
  background-color: rgba(255,255,255,0.7)
  display: inline-block
  font-family: inherit
  font-size: 0.8em
  text-align: center
  // width: 100%
  margin: auto 0
  -webkit-transition: background-color 300ms ease-out
  -moz-transition: background-color 300ms ease-out
  transition: background-color 300ms ease-out
  margin: 0
  position: relative
  text-decoration: none
  border: none
  padding: 1.25em
  margin-bottom: 5px
  &:hover
    background-color: #fff