@import foundation
//Layout//
body
  margin: 0
.section--blue
  background-color: #3da1e0
.section--grey
  background-color: #333
.soft--ends
  padding: 2em 0

// Teeth Section//
.mouth--teeth-top
  background-color: #3da1e0
  height: 40px
.mouth
  background-color: #333
.mouth--teeth-bottom
  background-color: #3da1e0
  height: 40px

// Type //

.title
  font-size: 2em
  color: #fff
  text-align: center
  margin: 0
  padding: 1em 0
.title--emphasize
  color: #3da1e0
p.lead
  color: #fff
  text-align: center
  font-size: 1.4em